
<h3>DASHBOARD</h3>

<table class = "table">
   <thead>
      <tr>
         <th>NO. OF Categories </th>
         <th>NO. OF Products</th>
      </tr>
   </thead>
  
   <tbody>
      <tr>
         <td><a href=/admin/categories><%= @categorys %></a></td>
         <td><a href=/admin/products><%= @products %></a></td>
      </tr>
   </tbody>
</table>