<h1>Admin::Dashboard#show</h1>
<p>Find me in app/views/admin/dashboard/show.html.erb</p>

<h1>Dashboard</h1>
<h3> Categories available: <span class="label label-info"><a href=/admin/products><%= @categorys %></a></span></h3>
<h3> Products available: <span class="label label-info"><a href=/admin/products><%= @products %></a></span></h3>